@charset "UTF-8";
 /* #170242
    #9a4bbb  */

 @media screen and (max-width: 720px) {
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #170242;
        color: white;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.658);
        
    }
    p{
        display: flex;
    }

    main{
        font-size:em;
    }


    #enome{
        display: flex;
        height: 25px;
        width: 200px;
        background: white;
        margin-left: 10px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.705);
    }
    
    #mmeta{
        display: flex;
        margin-left: 15px;
        height: 25px;
        width: 150px;
        background: white;
        border-radius: 8px;
        border: 1px solid black;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.705);

    }
    
    #salarioa{
        display: flex;
        height: 25px;
        margin-left: 15px;
        width: 110px;
        background: white;
        border-radius: 8px;
        border: 1px solid black;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.705);

    }

    #dados{
        margin: 10px;
        padding: 10px;
    }

    #ivenda{
        display: block;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    }

    #lvenda{
        margin: auto;
    }

    #ienviar{
        display: inline;
        margin: 5px;
        padding: 10px;
        font-size: 1em;
        background-color: transparent;
        color: white;
        border: 1px solid #9a4bbb ;
        border-radius: 30px;
    }

    #ilimpar{
        margin: 5px;
        padding: 10px;
        font-size: 1em;
        background-color: transparent;
        color: white;
        border: 1px solid #9a4bbb ;
        border-radius: 30px;

    }
    
 }